<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header"><a class="navbar-brand">Sample App</a></div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="">{{name}}</a></li>
<li><a href="#signup1">SignOut</a></li>
  </ul>
</div>
</nav>
<h4>your account created successfully</h4>
<!-- <button id="login1">Login</button> -->
